In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
# crimes_df = pd.read_csv("Crimes.csv")
moon_df = pd.read_csv("full_moon.csv")
holidays_df = pd.read_csv("holidays.csv")
weather_df = pd.read_csv("weather.csv")
vc_df = pd.read_csv("violent_crimes.csv")
master_df = pd.read_csv("master.csv")

In [6]:
vc_df["Date"] = pd.to_datetime(vc_df["Date"])
#make Date into two columns with the date and time
vc_df["Time"] = vc_df["Date"].dt.time
vc_df["Date"] = vc_df["Date"].dt.date
vc_df.head()

,ID,Case Number,Date,Block,IUCR,Primary Type,Description,Location Description,Arrest,Domestic,...,Community Area,FBI Code,X Coordinate,Y Coordinate,Year,Updated On,Latitude,Longitude,Location,Time
0,26262,JE366265,2021-09-08,047XX W HARRISON ST,0110,HOMICIDE,FIRST DEGREE MURDER,CAR WASH,True,False,...,25.0,01A,1144907.0,1896933.0,2021,09/14/2023 03:41:59 PM,41.873191,-87.743447,"(41.873191445, -87.743446563)",16:45:00
1,13202316,JG414343,2023-09-06,011XX S ST LOUIS AVE,0498,BATTERY,"AGG. DOMESTIC BATTERY - HANDS, FISTS, FEET, SE...",ALLEY,False,True,...,29.0,04B,1153217.0,1894682.0,2023,09/14/2023 03:43:09 PM,41.866854,-87.712996,"(41.866853689, -87.712996017)",16:00:00
2,13203412,JG415087,2023-09-06,033XX W ARTHINGTON ST,0520,ASSAULT,AGGRAVATED - KNIFE / CUTTING INSTRUMENT,RESIDENCE,False,True,...,29.0,04A,1154345.0,1895847.0,2023,09/14/2023 03:43:09 PM,41.870028,-87.708824,"(41.870028132, -87.708823855)",21:00:00
3,13201689,JG413578,2023-09-06,042XX W THOMAS ST,0326,ROBBERY,AGGRAVATED VEHICULAR HIJACKING,STREET,False,False,...,23.0,03,1148012.0,1907000.0,2023,09/14/2023 03:43:09 PM,41.900757,-87.731787,"(41.90075729, -87.731787389)",13:01:00
4,13202354,JG414329,2023-09-06,031XX W LEXINGTON ST,0497,BATTERY,AGGRAVATED DOMESTIC BATTERY - OTHER DANGEROUS ...,APARTMENT,False,True,...,27.0,04B,1155568.0,1896532.0,2023,09/14/2023 03:43:09 PM,41.871883,-87.704315,"(41.87188334, -87.704315401)",23:50:00

In [7]:
moon_df.rename(columns = {'FullMoonDates':'Date'}, inplace = True)
#convert Date to datetime
moon_df["Date"] = pd.to_datetime(moon_df["Date"])
moon_df.head()

   Year       Date
0  2005 2005-01-25
1  2005 2005-02-24
2  2005 2005-03-25
3  2005 2005-04-24
4  2005 2005-05-23

In [8]:
holidays_df['Date'] = pd.to_datetime(holidays_df['Date'])
holidays_df.head()

                      Holiday       Date Day of Week
0              New Year's Day 2010-01-01      Friday
1  Martin Luther King Jr. Day 2010-01-18      Monday
2             Presidents' Day 2010-02-15      Monday
3                Memorial Day 2010-05-31      Monday
4            Independence Day 2010-07-04      Sunday

In [9]:
#rename datetime to Date
weather_df.rename(columns = {'datetime':'Date'}, inplace = True)
#convert Date to datetime
weather_df["Date"] = pd.to_datetime(weather_df["Date"])
weather_df.head()

,name,Date,tempmax,tempmin,temp,feelslikemax,feelslikemin,feelslike,dew,humidity,...,solarenergy,uvindex,severerisk,sunrise,sunset,moonphase,conditions,description,icon,stations
0,"Chicago,United States",2010-01-01,-8.3,-14.5,-11.7,-15.0,-22.4,-19.0,-16.1,69.8,...,6.6,3,NaN,2010-01-01T07:18:22,2010-01-01T16:30:09,0.53,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"72534014819,KORD,KMDW,72530094846,74466504838,..."
1,"Chicago,United States",2010-01-02,-11.4,-16.4,-14.1,-18.4,-25.3,-22.6,-19.6,63.1,...,8.5,4,NaN,2010-01-02T07:18:26,2010-01-02T16:31:02,0.57,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"72534014819,KORD,KMDW,72530094846,74466504838,..."
2,"Chicago,United States",2010-01-03,-7.9,-17.5,-12.5,-14.7,-25.6,-20.5,-17.6,66.0,...,7.6,4,NaN,2010-01-03T07:18:28,2010-01-03T16:31:56,0.60,Partially cloudy,Partly cloudy throughout the day.,partly-cloudy-day,"72534014819,KORD,KMDW,72530094846,74466504838,..."
3,"Chicago,United States",2010-01-04,-7.4,-13.1,-10.2,-14.4,-21.3,-17.6,-14.6,69.8,...,3.5,2,NaN,2010-01-04T07:18:27,2010-01-04T16:32:51,0.64,Overcast,Cloudy skies throughout the day.,cloudy,"72534014819,KORD,KMDW,72530094846,74466504838,..."
4,"Chicago,United States",2010-01-05,-5.1,-9.5,-7.9,-11.7,-15.9,-14.2,-12.3,70.8,...,5.8,3,NaN,2010-01-05T07:18:25,2010-01-05T16:33:49,0.67,Overcast,Cloudy skies throughout the day.,cloudy,"72534014819,KORD,KMDW,72530094846,74466504838,..."

In [10]:
vc_df['Date'] = pd.to_datetime(vc_df['Date'])
# type(vc_df["Date"][0])
len(vc_df)

58348

In [11]:
# keep only rows that match the date in vc_df
merged_df =pd.merge(vc_df, moon_df, on='Date', how='left')
merged_df =pd.merge(merged_df, holidays_df, on='Date', how='left')
merged_df =pd.merge(merged_df, weather_df, on='Date', how='left')
# # keep only rows that match the date in moon_df
len(merged_df)
merged_df.head()
merged_df.columns

Index(['ID', 'Case Number', 'Date', 'Block', 'IUCR', 'Primary Type',
       'Description', 'Location Description', 'Arrest', 'Domestic', 'Beat',
       'District', 'Ward', 'Community Area', 'FBI Code', 'X Coordinate',
       'Y Coordinate', 'Year_x', 'Updated On', 'Latitude', 'Longitude',
       'Location', 'Time', 'Year_y', 'Holiday', 'Day of Week', 'name',
       'tempmax', 'tempmin', 'temp', 'feelslikemax', 'feelslikemin',
       'feelslike', 'dew', 'humidity', 'precip', 'precipprob', 'precipcover',
       'preciptype', 'snow', 'snowdepth', 'windgust', 'windspeed', 'winddir',
       'sealevelpressure', 'cloudcover', 'visibility', 'solarradiation',
       'solarenergy', 'uvindex', 'severerisk', 'sunrise', 'sunset',
       'moonphase', 'conditions', 'description', 'icon', 'stations'],
      dtype='object')